.image,
.laptop-child {
  position: absolute;
  top: 1755px;
  left: 0;
  background-color: var(--registerairblackco-black);
  width: 1440px;
  height: 1061px;
}
.image {
  top: 0;
  height: 346px;
  overflow: hidden;
}
.fkdjytq0z10pkcimvgg2xf3q0jpg-icon,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 943.6px);
  top: 0;
  right: 157.5px;
  bottom: 307.1px;
  left: 786.1px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fkdjytq0z10pkcimvgg2xf3q0jpg-icon {
  width: calc(100% - 944.6px);
  top: 307.1px;
  right: 3.1px;
  bottom: 0;
  left: 941.5px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon,
.nus134xofhur4fscnynn0hazwuejp-icon,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon,
.olytuxqtpzi5x0j9jbbgcytfopng-icon {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 944.6px);
  top: 0;
  right: 314.9px;
  bottom: 307.1px;
  left: 629.7px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon,
.nus134xofhur4fscnynn0hazwuejp-icon,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon {
  width: calc(100% - 943.6px);
  right: 0;
  left: 943.6px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon {
  top: 152.9px;
  right: 471.3px;
  bottom: 154.2px;
  left: 472.3px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon {
  height: calc(100% - 305.9px);
  width: calc(100% - 944.6px);
  top: 305.9px;
  right: 314.9px;
  bottom: 0;
  left: 629.7px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon,
.nwplmeuuorxeizilywivinmrdsmpn-icon,
.roobvkysvltma83f4b1idfc2spng-icon,
.xvq22ho5urja40fbslgzxjwmapng-icon {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 943.6px);
  top: 152.9px;
  right: 157.5px;
  bottom: 154.2px;
  left: 786.1px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon,
.roobvkysvltma83f4b1idfc2spng-icon,
.xvq22ho5urja40fbslgzxjwmapng-icon {
  right: 0;
  left: 943.6px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon,
.xvq22ho5urja40fbslgzxjwmapng-icon {
  top: 0;
  right: 471.3px;
  bottom: 307.1px;
  left: 472.3px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon {
  height: calc(100% - 305.9px);
  top: 305.9px;
  right: 157.5px;
  bottom: 0;
  left: 786.1px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon1,
.nwplmeuuorxeizilywivinmrdsmpn-icon1,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon1 {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 943.6px);
  top: 0;
  right: 628.7px;
  bottom: 307.1px;
  left: 314.9px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon1,
.nwplmeuuorxeizilywivinmrdsmpn-icon1,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon {
  height: calc(100% - 305.9px);
  top: 152.9px;
  bottom: 153px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon1,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon {
  height: calc(100% - 307.1px);
  top: 307.1px;
  bottom: 0;
}
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon {
  width: calc(100% - 944.6px);
  top: 152.9px;
  right: 314.9px;
  bottom: 154.2px;
  left: 629.7px;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon,
.brdpcuqjd3f8gbyuk0xrimiepng-icon1,
.nwplmeuuorxeizilywivinmrdsmpn-icon2,
.xvq22ho5urja40fbslgzxjwmapng-icon1 {
  position: absolute;
  height: calc(100% - 305.9px);
  width: calc(100% - 943.6px);
  top: 305.9px;
  right: 471.3px;
  bottom: 0;
  left: 472.3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon1,
.nwplmeuuorxeizilywivinmrdsmpn-icon2,
.xvq22ho5urja40fbslgzxjwmapng-icon1 {
  height: calc(100% - 307.1px);
  top: 152.9px;
  right: 943.6px;
  bottom: 154.2px;
  left: 0;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon1,
.xvq22ho5urja40fbslgzxjwmapng-icon1 {
  height: calc(100% - 305.9px);
  width: calc(100% - 944.6px);
  top: 305.9px;
  right: 786.1px;
  bottom: 0;
  left: 158.5px;
}
.xvq22ho5urja40fbslgzxjwmapng-icon1 {
  height: calc(100% - 307.1px);
  width: calc(100% - 943.6px);
  top: 0;
  right: 942.6px;
  bottom: 307.1px;
  left: 1px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon2,
.nus134xofhur4fscnynn0hazwuejp-icon1,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon1 {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 944.6px);
  top: 152.9px;
  right: 786.1px;
  bottom: 154.2px;
  left: 158.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon2,
.nus134xofhur4fscnynn0hazwuejp-icon1 {
  width: calc(100% - 943.6px);
  top: 0;
  right: 786.2px;
  bottom: 307.1px;
  left: 157.4px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon2 {
  height: calc(100% - 305.9px);
  top: 305.9px;
  right: 943.6px;
  bottom: 0;
  left: 0;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-parent {
  position: absolute;
  height: calc(100% - 3003px);
  width: calc(100% - 339px);
  top: -114px;
  right: 147px;
  bottom: 3117px;
  left: 192px;
  opacity: 0.3;
}
.presents {
  position: relative;
  letter-spacing: 2.23px;
  text-transform: uppercase;
  font-weight: 500;
}
.airblack-beauty-club-logo-parent {
  position: absolute;
  top: calc(50% - 1652.5px);
  left: 556px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: left;
  font-family: var(--font-inter);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background: linear-gradient(90deg, #f56563, #e54988);
  width: 432px;
  height: 47px;
}
.join-with-us {
  position: absolute;
  top: 15px;
  left: 142px;
  line-height: 16.8px;
}
.form-parent,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 432px;
  height: 47px;
}
.form-parent {
  top: 498px;
  left: 918px;
  height: 631px;
  font-size: var(--font-size-6xl);
}
.image-677-icon {
  position: absolute;
  top: 347px;
  left: 377px;
  width: 573px;
  height: 400px;
  object-fit: cover;
}
.get-certified-from {
  position: absolute;
  top: 0;
  left: 341px;
  line-height: 90px;
  display: inline-block;
  width: 637px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  top: 109px;
  left: 1038px;
  width: 300px;
  height: 5.6px;
}
.vector-icon1 {
  top: 103px;
  left: 0;
  object-fit: contain;
}
.get-certified-from-indias-big-parent,
.image-677-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1338px;
  height: 270px;
}
.image-677-parent {
  top: 1912px;
  left: 56px;
  height: 747px;
  font-size: 55px;
}
.laptop {
  width: 100%;
  position: relative;
  background-color: #161515;
  height: 3463px;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  color: var(--registerairblackco-nero);
  font-family: var(--font-adamina);
}
