.fkdjytq0z10pkcimvgg2xf3q0jpg-icon1,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon2 {
  position: absolute;
  height: calc(100% - 265px);
  width: calc(100% - 603px);
  top: 0;
  right: 151px;
  bottom: 265px;
  left: 452px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fkdjytq0z10pkcimvgg2xf3q0jpg-icon1 {
  width: calc(100% - 604px);
  top: 265px;
  right: 3px;
  bottom: 0;
  left: 601px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon2,
.nus134xofhur4fscnynn0hazwuejp-icon2,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon1,
.olytuxqtpzi5x0j9jbbgcytfopng-icon1 {
  position: absolute;
  height: calc(100% - 265px);
  width: calc(100% - 604px);
  top: 0;
  right: 302px;
  bottom: 265px;
  left: 302px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon2,
.nus134xofhur4fscnynn0hazwuejp-icon2,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon1 {
  width: calc(100% - 603px);
  right: 0;
  left: 603px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon2,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon1 {
  top: 132px;
  right: 452px;
  bottom: 133px;
  left: 151px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon2 {
  height: calc(100% - 264px);
  width: calc(100% - 604px);
  top: 264px;
  right: 302px;
  bottom: 0;
  left: 302px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon3,
.nwplmeuuorxeizilywivinmrdsmpn-icon3,
.roobvkysvltma83f4b1idfc2spng-icon1,
.xvq22ho5urja40fbslgzxjwmapng-icon2,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon3 {
  position: absolute;
  height: calc(100% - 265px);
  width: calc(100% - 603px);
  top: 132px;
  right: 151px;
  bottom: 133px;
  left: 452px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon3,
.roobvkysvltma83f4b1idfc2spng-icon1,
.xvq22ho5urja40fbslgzxjwmapng-icon2,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon3 {
  right: 0;
  left: 603px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon3,
.xvq22ho5urja40fbslgzxjwmapng-icon2,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon3 {
  top: 0;
  right: 452px;
  bottom: 265px;
  left: 151px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon3,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon3 {
  height: calc(100% - 264px);
  top: 264px;
  right: 151px;
  bottom: 0;
  left: 452px;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon3 {
  height: calc(100% - 265px);
  top: 0;
  right: 603px;
  bottom: 265px;
  left: 0;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon1,
.igiz71nklzdzeqhhjjj6zzflbgpng-icon4,
.nwplmeuuorxeizilywivinmrdsmpn-icon4,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon2 {
  position: absolute;
  height: calc(100% - 264px);
  width: calc(100% - 603px);
  top: 132px;
  right: 603px;
  bottom: 132px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon1,
.igiz71nklzdzeqhhjjj6zzflbgpng-icon4,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon2 {
  height: calc(100% - 265px);
  top: 265px;
  bottom: 0;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon1,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon2 {
  width: calc(100% - 604px);
  top: 132px;
  right: 302px;
  bottom: 133px;
  left: 302px;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon1 {
  height: calc(100% - 264px);
  width: calc(100% - 603px);
  top: 264px;
  right: 452px;
  bottom: 0;
  left: 151px;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-group {
  position: absolute;
  height: 100%;
  width: calc(100% - 686px);
  top: 0;
  right: 47px;
  bottom: 0;
  left: 639px;
  opacity: 0.3;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1440px;
  height: 397px;
  opacity: 0.5;
}
.big-deals-happening {
  position: absolute;
  top: 48px;
  left: -27px;
  font-size: var(--font-size-41xl);
  line-height: 100px;
  display: flex;
  font-family: var(--font-tillana);
  align-items: center;
  justify-content: center;
  width: 666px;
}
.vector-icon3 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 5.6px;
  object-fit: contain;
}
.why-should-you {
  margin: 0;
}
.why-should-you-container {
  position: relative;
  line-height: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.vector-icon4 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 5.6px;
}
.vector-parent {
  position: absolute;
  top: 80px;
  left: 866px;
  width: 327px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-fontspring-demo---roca-one-rg);
}
.frame-item {
  width: 34.1px;
  position: relative;
  height: 34.1px;
  object-fit: contain;
}
.do-it-together-live-on {
  align-self: stretch;
  position: relative;
}
.frame-group {
  width: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-inner {
  width: 34.1px;
  position: relative;
  height: 34.1px;
}
.frame-parent {
  position: absolute;
  top: 172px;
  left: 866px;
  width: 327px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.apply-now {
  position: relative;
  line-height: 16.8px;
}
.divframer-923v641,
.p3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.p3 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-12xs-1) 0 var(--padding-12xs-9);
}
.divframer-923v641 {
  align-items: flex-start;
}
.divframer-zlvey91 {
  position: absolute;
  top: 280.1px;
  left: 866px;
  border-radius: var(--br-9xs);
  background: linear-gradient(90.32deg, #f56563, #e54988);
  width: 327px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-1) var(--padding-94xl-4);
  box-sizing: border-box;
  color: var(--registerairblackco-alabaster);
}
.group-container,
.laptop-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 397px;
}
.laptop-inner {
  top: 1313px;
  left: 10px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--registerairblackco-nero);
  font-family: var(--font-proxima-nova);
}
