.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1440px;
  height: 474px;
  opacity: 0.5;
}
.fkdjytq0z10pkcimvgg2xf3q0jpg-icon2,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon4 {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 943.6px);
  top: 0;
  right: 157.5px;
  bottom: 307.1px;
  left: 786.1px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.fkdjytq0z10pkcimvgg2xf3q0jpg-icon2 {
  width: calc(100% - 944.6px);
  top: 307.1px;
  right: 3.1px;
  bottom: 0;
  left: 941.5px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon3,
.nus134xofhur4fscnynn0hazwuejp-icon3,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon2,
.olytuxqtpzi5x0j9jbbgcytfopng-icon2 {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 944.6px);
  top: 0;
  right: 314.9px;
  bottom: 307.1px;
  left: 629.7px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon3,
.nus134xofhur4fscnynn0hazwuejp-icon3,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon2 {
  width: calc(100% - 943.6px);
  right: 0;
  left: 943.6px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon3,
.nxkofntfy9ikxcpxptowzhq5cdupn-icon2 {
  top: 152.9px;
  right: 471.3px;
  bottom: 154.2px;
  left: 472.3px;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon3 {
  height: calc(100% - 305.9px);
  width: calc(100% - 944.6px);
  top: 305.9px;
  right: 314.9px;
  bottom: 0;
  left: 629.7px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon5,
.nwplmeuuorxeizilywivinmrdsmpn-icon5,
.roobvkysvltma83f4b1idfc2spng-icon2,
.xvq22ho5urja40fbslgzxjwmapng-icon3 {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 943.6px);
  top: 152.9px;
  right: 157.5px;
  bottom: 154.2px;
  left: 786.1px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon5,
.roobvkysvltma83f4b1idfc2spng-icon2,
.xvq22ho5urja40fbslgzxjwmapng-icon3 {
  right: 0;
  left: 943.6px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon5,
.xvq22ho5urja40fbslgzxjwmapng-icon3 {
  top: 0;
  right: 471.3px;
  bottom: 307.1px;
  left: 472.3px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon5 {
  height: calc(100% - 305.9px);
  top: 305.9px;
  right: 157.5px;
  bottom: 0;
  left: 786.1px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon6,
.nwplmeuuorxeizilywivinmrdsmpn-icon6,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon3,
.zmxqwkfbejrqapbt6wdbyw9c77apn-icon5 {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 943.6px);
  top: 0;
  right: 628.7px;
  bottom: 307.1px;
  left: 314.9px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon6,
.nwplmeuuorxeizilywivinmrdsmpn-icon6,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon3 {
  height: calc(100% - 305.9px);
  top: 152.9px;
  bottom: 153px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon6,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon3 {
  height: calc(100% - 307.1px);
  top: 307.1px;
  bottom: 0;
}
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon3 {
  width: calc(100% - 944.6px);
  top: 152.9px;
  right: 314.9px;
  bottom: 154.2px;
  left: 629.7px;
}
.bijgdu7wrx4u7qhuhojdtr06lmpng-icon2,
.brdpcuqjd3f8gbyuk0xrimiepng-icon4,
.nwplmeuuorxeizilywivinmrdsmpn-icon7,
.xvq22ho5urja40fbslgzxjwmapng-icon4 {
  position: absolute;
  height: calc(100% - 305.9px);
  width: calc(100% - 943.6px);
  top: 305.9px;
  right: 471.3px;
  bottom: 0;
  left: 472.3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon4,
.nwplmeuuorxeizilywivinmrdsmpn-icon7,
.xvq22ho5urja40fbslgzxjwmapng-icon4 {
  height: calc(100% - 307.1px);
  top: 152.9px;
  right: 943.6px;
  bottom: 154.2px;
  left: 0;
}
.brdpcuqjd3f8gbyuk0xrimiepng-icon4,
.xvq22ho5urja40fbslgzxjwmapng-icon4 {
  height: calc(100% - 305.9px);
  width: calc(100% - 944.6px);
  top: 305.9px;
  right: 786.1px;
  bottom: 0;
  left: 158.5px;
}
.xvq22ho5urja40fbslgzxjwmapng-icon4 {
  height: calc(100% - 307.1px);
  width: calc(100% - 943.6px);
  top: 0;
  right: 942.6px;
  bottom: 307.1px;
  left: 1px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon7,
.nus134xofhur4fscnynn0hazwuejp-icon4,
.ulgo1lvjg0qqwvsnruetz3h9eimpn-icon4 {
  position: absolute;
  height: calc(100% - 307.1px);
  width: calc(100% - 944.6px);
  top: 152.9px;
  right: 786.1px;
  bottom: 154.2px;
  left: 158.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon7,
.nus134xofhur4fscnynn0hazwuejp-icon4 {
  width: calc(100% - 943.6px);
  top: 0;
  right: 786.2px;
  bottom: 307.1px;
  left: 157.4px;
}
.igiz71nklzdzeqhhjjj6zzflbgpng-icon7 {
  height: calc(100% - 305.9px);
  top: 305.9px;
  right: 943.6px;
  bottom: 0;
  left: 0;
}
.zmxqwkfbejrqapbt6wdbyw9c77apn-container {
  position: absolute;
  height: calc(100% + 63px);
  width: calc(100% - 339px);
  top: 0;
  right: 147px;
  bottom: -63px;
  left: 192px;
  opacity: 0.3;
}
.frame-wrapper,
.join-our-growing {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 397px;
}
.join-our-growing {
  line-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 618px;
  height: 279.9px;
}
.apply-now1 {
  position: relative;
  line-height: 16.8px;
}
.divframer-923v642,
.p4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.p4 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-12xs-1) 0 var(--padding-12xs-9);
}
.divframer-923v642 {
  align-items: flex-start;
}
.divframer-zlvey92 {
  position: absolute;
  top: 325.6px;
  left: 123.4px;
  border-radius: var(--br-3xs);
  background: linear-gradient(90.32deg, #f56563, #e54988);
  width: 380.5px;
  height: 64.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-1) var(--padding-94xl-4);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  color: var(--registerairblackco-alabaster);
}
.group-div,
.join-our-growing-community-of-parent {
  position: absolute;
  top: 35px;
  left: 416px;
  width: 618px;
  height: 390px;
}
.group-div {
  top: 2989px;
  left: 14px;
  width: 1440px;
  height: 425px;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--registerairblackco-nero);
  font-family: var(--font-adamina);
}
